# syntax: regexp
^examples/.*/obj_.*$
^examples/.*/.*\.a$
^examples/.*/.*\.map$
^examples/.*/.*\.wismote$
^examples/.*/.*\.hex$
^.*\.DS\_Store$
^tools/.*/tunslip$
^tools/.*/tunslip6$
^.*/.*\.class$
^.*/.*\.ipr$
^.*/.*\.iml$
^.*/.*\.iws$

