SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{product}=="CP2102 USB to UART Bridge Controller", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="wismote", GROUP="wismote"
